parameters:
    level: 5
    bootstrapFiles:
        - vendor/yiisoft/yii2/Yii.php
    paths:
        - /app
    excludePaths:
        - runtime
        - tests
        - vendor
        - config
        - views
